@use '../../styles/settings' as *;

.navbar {
  background-color: darken($color-dark, 3%);
  padding: 1rem 0;
}

.navbarContent {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto; 

  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .linkActive {
    color: $color-warning;
  }
}
